[Unit]
Description=Tsinghua University Network Authentication
Documentation=man:tunet-bash(1)
After=network.target
Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
Type=oneshot
ExecStart=/usr/bin/tunet-bash --assert
SetLoginEnvironment=yes
LogLevelMax=notice
